<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">










<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
      
        @if (!isEditingProfile && userProfile!==null) {
                    <div>
            <div>
                <button class="edit-btn" (click)="startEditingProfile()">
                    <i class="fa-solid fa-pencil me-2" style="color: #7ca2ca;"></i>
                    Modifier le profil
                </button>
            </div>
            <div class="profile-home">
                <div class="image">
                    <img [src]="photoProfilUrl" alt="phot de profil personnelle">
                </div>
                <div class="infos">
                    <p class="mb-2">{{userProfile.email}}</p>
                    <h1 class="mb-2">{{userProfile.nom}} {{userProfile.prenom}}</h1>
                    <h6>inscrit à  <span class="date ms-2">{{userProfile.createdAt | date : 'dd-MMM-yyyy  hh:mm:ss'}}</span></h6>
                    <h6>vu pour la dernière fois à <span class="date ms-2">{{userProfile.updatedAt  |  date : 'dd-MMM-yyyy hh:mm:ss'}}</span></h6>
                </div>
            </div>
            <div class="profile-bio">
                <h2>Biographie</h2>
                @if( userProfile.bio && userProfile.bio.length===0){
                    <span class="fw-semibold none-bio">aucune bio </span>
                }
                @else {
                    <p>{{userProfile.bio}}</p>
                }
            </div>
        </div>
        }


        <div *ngIf="isEditingProfile" >
            <form [formGroup]="profileForm" >
                               <div>
                <button class="edit-btn" (click)="saveChanges()">
                    <i class="fa-solid fa-check me-2" style="color: #7ca2ca;" ></i>
                    Enregistrer
                </button>
                <button class="cancel-btn ms-3" (click)="cancelEditingProfile()">
                    <i class="fa-solid fa-xmark me-2" style="color: rgb(243, 97, 97);"></i>
                    Annuler
                </button>
            </div>
            <div class="profile-home">

                <div class="image">
                    <img [src]="photoProfilUrl" alt="phot de profil personnelle">
                    <i class="fa-solid fa-pencil me-2 edit-photo" (click)="fileInput.click()"></i>
                    <i class="fa-solid fa-trash delete-photo" style="color: #b86556; " (click)="deleteProfilePictureLocaly()"></i>
                </div>

                <input type="file" 
                        #fileInput
                        accept="image/*"
                        style="display: none;"
                        (change)="onFileSelected($event)"
                >

                <div class="infos">
                   <div class="mb-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
                   </div>
                   
                <div class="mb-4">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="nom" formControlName="nom">
                </div>

                <div class="mb-4">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="prenom" formControlName="prenom">
                </div>
                   
                </div>
            </div>
            <div class="profile-bio-editing">
                <div class="form-floating r-bio">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="bio"></textarea>
                    <label for="floatingTextarea2">écrivez quelque chose à propos de vous ...</label>
                </div>
            </div>  
            </form>
 
        </div>


        

       @if (!isEditingProfile) {
         <div class="d-grid mt-5 gap-2" style="grid-template-columns: auto auto;">
            <button class="btn btn-profile-post" (click)="getPublishedPosts()">Mes Postes Publiés</button>
            <button class="btn btn-profile-post" (click)="getSavedPosts()">Mes Postes Sauvegardés</button>
        </div>

        <!-- Liste des posts enregistrés par l'utilisateur connecté -->
        <div class="posts   mb-5 mt-5" *ngIf="savedPostsView">
          @if (savedPosts.length==0) {
            <h1 class="text-center fw-semibold" style="color: #eb6047;">Aucun poste sauvegardé</h1>
          }
          @else {
              @for (post of savedPosts; track $index) {
                 <div class="row mt-3">
                <div class="card">
                <h5 class="card-header">
                    <span class="photo-profile">
                        <img [src]="post.authorProfilePictureUrl" alt="photo de profile de l'utilisateur">
                    </span>
                    <div class="infos">
                        <span>{{post.authorName}}</span>
                        <span class="creation-date">{{post.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}</span>
                    </div>
                </h5>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">{{post.content}}</p>
                    <div class="mt-4 icons d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fa-regular fa-thumbs-up" ><span class="reaction">{{post.likesCount}}</span></i>
                            <i class="fa-regular fa-comment" (click)="openViewCommentsWindow(post.id)" ><span class="reaction">{{post.commentCount}}</span></i>
                            
                                <i class="fa-solid fa-bookmark ms-2"  (click)="unsavePost(post.id)"></i>
                            
                        </div>
                        <i class="fa-solid fa-plus" ><span class="reaction">Ajouter un commentaire pour ce post</span></i>
                    </div>
                </div>
                </div>
            </div>

            }
          }
        </div>

         <!-- Liste des posts publiés par  l'utilisateur connecté -->
        <div class="posts   mb-5 mt-5" *ngIf="publishedPostView">
          @if (publishedPosts.length==0) {
            <h1 class="text-center fw-semibold" style="color: #eb6047;">Vous n'avez publié aucun poste</h1>
          }
          @else {
              @for (post of publishedPosts; track $index) {
                 <div class="row mt-3">
                <div class="card">
                <h5 class="card-header">
                    <span class="photo-profile">
                        <img [src]="post.authorProfilePictureUrl" alt="photo de profile de l'utilisateur">
                    </span>
                    <div class="infos">
                        <span>{{post.authorName}}</span>
                        <span class="creation-date">{{post.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}</span>
                    </div>
                </h5>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">{{post.content}}</p>
                    <div class="mt-4 icons d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fa-regular fa-thumbs-up" ><span class="reaction">{{post.likesCount}}</span></i>
                            <i class="fa-regular fa-comment"  (click)="openViewCommentsWindow(post.id)"><span class="reaction">{{post.commentCount}}</span></i>
                            
                            
                        </div>
                        <i class="fa-solid fa-trash" (click)="deletePostById(post.id)"></i>
                    </div>
                </div>
                </div>
            </div>

            }
          }
        </div>



        @if (viewComments) {
    <div class="select-post-comments">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="rounded-circle d-flex justify-content-center align-items-center  cancel-icon"
                (click)="closeViewCommentsWindow()"
                >
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                <!-- Titre du poste s'il existe -->
                 @if (selectedPost.title) {
                    <h1 class="card-title display-6 fw-bold  mb-3">
                        {{selectedPost.title}}
                    </h1>
                 }
                

                 <!-- Informations sur l'autheur et la date de création du poste -->
                  <div class="d-flex align-items-center mb-4">


                    <div class="user-icon-post d-flex justify-content-center align-items-center rounded-circle me-3">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h6 class="fw-semibold">{{selectedPost.authorName}}</h6>
                        <small class="text-muted">
                            <i class="fas fa-calendar-alt me-2"></i>
                            {{selectedPost.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}
                        </small>
                    </div>
                  </div>



                  <!-- Contenu du post -->
                   <div class="post-content">
                        <p class="card-text fs-5">
                            {{selectedPost.content}}
                        </p>
                   </div>


                   <!-- Actions  du post  -->
                    <div class="border-top mt-3 pt-3">
                        <div>
                            <span class="nb-likes-post me-2">
                                <i class="fas fa-thumbs-up me-1"></i> {{selectedPost.likesCount}}
                            </span>
                        </div>
                    </div>


                    <!-- section des commentaires  -->
                     <div class="card comments-section mt-4 mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <i class="fas fa-comments me-2"></i>
                                Commentaires <span>{{selectedPost.commentCount}}</span>
                            </h5>
                        </div>

                        <!-- Liste des commentaires -->
                        <div>

                            @for (comment of selectedPost.commentsDto; track $index) {
                            <div class="m-3 p-3 border rounded-3 ">
                        
                                    <div >
                                        <div class="d-flex">
                                                <!-- Avatar du commentateur -->
                                            <div class="user-icon-comment rounded-circle d-flex align-items-center justify-content-center me-3 ">
                                                <i class="fas fa-user"></i>
                                            </div>

                                            <!-- autheur et creation date  -->
                                            <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <h6 class="mb-0 fw-semibold">{{comment.authorName}}</h6>
                                                        <small class="text-muted">
                                                            created at {{comment.createdAt | date : 'MMMM dd, yyyy  HH:mm:ss'}}
                                                        </small>
                                                    </div>
                                                </div>
                                        </div>
                                        <p class="p-3">{{comment.content}}</p>

                                    </div>
                            </div>
                        }


                        @if (selectedPost.commentCount==0) {
                            <div class="text-center py-4" >
                                <i class="fas fa-comment-slash fa-2x text-muted mb-2"></i>
                                <p class="text-muted">Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
                            </div>
                        }
                           
                        </div>
                     </div>

            </div>
        </div>
        <div class="cancel-btn" (click)="closeViewCommentsWindow()" >
            <span class="badge text-bg-secondary">retourner aux posts</span>
        </div>
    </div>
</div>
}





       }

    </div>
</div>