<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">







<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
      
        <div *ngIf="!isEditingProfile">
            <div>
                <button class="edit-btn" (click)="startEditingProfile()">
                    <i class="fa-solid fa-pencil me-2" style="color: #7ca2ca;"></i>
                    Modifier le profil
                </button>
            </div>
            <div class="profile-home">
                <div class="image">
                    <img [src]="photoProfilUrl" alt="phot de profil personnelle">
                </div>
                <div class="infos">
                    <p class="mb-2">{{userProfile.email}}</p>
                    <h1 class="mb-2">{{userProfile.nom}} {{userProfile.prenom}}</h1>
                    <h6>inscrit à <span class="date">{{userProfile.createdAt | date : 'dd-MMM-yyyy  hh:mm:ss'}}</span></h6>
                    <h6>vu pour la dernière fois à <span class="date">{{userProfile.updatedAt  |  date : 'dd-MMM-yyyy hh:mm:ss'}}</span></h6>
                </div>
            </div>
            <div class="profile-bio">
                <h2>Biographie</h2>
                <p>{{userProfile.bio}}</p>
            </div>
        </div>

        <div *ngIf="isEditingProfile" >
            <form [formGroup]="profileForm" >
                               <div>
                <button class="edit-btn" (click)="saveChanges()">
                    <i class="fa-solid fa-check me-2" style="color: #7ca2ca;" ></i>
                    Enregistrer
                </button>
                <button class="cancel-btn ms-3" (click)="cancelEditingProfile()">
                    <i class="fa-solid fa-xmark me-2" style="color: rgb(243, 97, 97);"></i>
                    Annuler
                </button>
            </div>
            <div class="profile-home">

                <div class="image">
                    <img [src]="photoProfilUrl" alt="phot de profil personnelle">
                    <i class="fa-solid fa-pencil me-2 edit-photo" (click)="fileInput.click()"></i>
                    <i class="fa-solid fa-trash delete-photo" style="color: #b86556; " (click)="deleteProfilePictureLocaly()"></i>
                </div>

                <input type="file" 
                        #fileInput
                        accept="image/*"
                        style="display: none;"
                        (change)="onFileSelected($event)"
                >

                <div class="infos">
                   <div class="mb-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
                   </div>
                   
                <div class="mb-4">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="nom" formControlName="nom">
                </div>

                <div class="mb-4">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="prenom" formControlName="prenom">
                </div>
                   
                </div>
            </div>
            <div class="profile-bio-editing">
                <div class="form-floating r-bio">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="bio"></textarea>
                    <label for="floatingTextarea2">écrivez quelque chose à propos de vous ...</label>
                </div>
            </div>  
            </form>
 
        </div>

    </div>
</div>