<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">







<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
        <h1>Projets et analyses proposés</h1>
        <p>Explorez les projets des autres, évaluez leurs analyses et partagez des données de qualité</p>

        <button class="btn-add-new-dataset" (click)="addingNewProject=true" >
            Ajouter Votre Propre Travail
        </button>

        <div class="row my-4">
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3 m-2" style="width: 18rem;">
            <img class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a href="https://seinfeldquotes.com" class="text-blue-600 visited:text-purple-600"> Consultez le projet </a>
            </div>
            </div>
        </div>
    </div>


    <div *ngIf="addingNewProject" class="form-add-new-project">
      <div class="entete">
        <h5><i class="fa-solid fa-plus me-2" style="color: #66747f;"></i><span>Partagez Votre Propore Travail Avec La Communauté</span></h5>
        <button type="button" class="btn-close"></button>
      </div>
      <div>
        <form>
            <div class="mb-5 mt-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre" aria-describedby="emailHelp">
            </div>
            <div class="mb-5">
                <label for="description" class="form-label">Description</label>
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Ajouter une description en quelques lignes" id="description" style="height: 100px"></textarea>
                </div>
            </div>
            <div>
                <label for="actions" class="form-label">Actions</label>
                <div class="actions-btn">
                  <button (click)="fileInput.click()">Ajouter un fichier</button>
                  <button (click)="imageInput.click()" >Ajouter un lien</button>
                  <button (click)="linkInput.click()">Ajouter une image</button>
                  <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
                  <input type="file" accept="image/*" #imageInput style="display: none;" (change)="onImageSelected($event)">
                  <input type="text" #linkInput style="display: none;">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" >Annuler</button>
        <button type="button" class="btn publish-btn" (click)="publishProject()">Publier</button>
      </div>
    </div>

</div>



  