<div class="conteneur">

  <header class="navbar">
    <div class="container-fluid ">
       <a class="navbar-brand" href="#"><h2 class="logo-style"><span class="gov">Gov</span><span class="think">Think</span></h2></a>


       <!-- BTN burger -->
     <input type="checkbox" class="menu-toggle" >
     <label class="burger"><i class="fa-solid fa-bars"></i></label>


     <nav class="menu">
        <a href="#" class="me-5 p-1 rounded fw-semibold" (click)="scrollTo('intro'); $event.preventDefault()">Accueil</a>
        <a href="#" class="me-5 p-1 rounded fw-semibold" (click)="scrollTo('who'); $event.preventDefault()">Services</a>
        <a href="#" class="me-5 p-1 rounded fw-semibold" (click)="scrollTo('fonctionnalites'); $event.preventDefault()">fonctionnalites</a>
        <a href="#" class="me-5 p-1 rounded fw-semibold" (click)="scrollTo('community'); $event.preventDefault()">Communauté</a>
     </nav>


           <!-- boutons pour se connecter ou s'inscrire -->
        <div class="connection-btns">
          <button routerLink ="/login" type="button" class="btn btn-dark">Se connecter</button>
          <button routerLink="/register" type="button" class="btn btn-secondary">S'inscrire</button>
        </div>
    </div>


  
  </header>


  <!-- conteneur des section -->
   <div class="container " >
      <section class="intro" id="intro" > 
        <div class="row">
          <div class="col">
            <h1 class="my-5">Votre portail vers le numérique public</h1>
            <h4 class="mb-4">Explorez, analysez et contribuez à la transformation numérique des services publics au Maroc.</h4>
            <p>Rejoignez une communauté d'acteurs du numérique, de chercheurs et de citoyens engagés.
            Explorez des tableaux de bord interactifs, accédez à des données ouvertes fiables et inspirez vos décisions grâce à aux données publiques.</p>
            <div class="mt-5 btns">
              <button type="button" routerLink="/register">S'inscrire</button>
            </div>
          </div>
          <div class="col image d-flex justify-content-center align-items-center">
            <img src="assets/e-gov.png" alt="">
          </div>
        </div>
      </section>

      <section class="who" id="who" >
        <h1 class="mb-5">Qui peut profiter de GovThink ?</h1>
        <div class="container">
          <div class="row">
            <div class="col profile">
              <div>
                <h4>Citoyens</h4>
                <p>Accédez facilement aux liens officiels des services publics numériques et suivez l’évolution de la digitalisation au Maroc.</p>
              </div>
              <div>
                <img src="assets/citoyens.png" alt="">
               </div>
            </div>
            <div class="col profile">
              <div>
                <h4>Entrepreneurs</h4>
                <p>Explorez des données ouvertes pour identifier des opportunités et développer des solutions innovantes.</p>
              </div>
              <div>
                <img src="assets/entrepreneur.png" alt="">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col profile">
              <div>
                <h4>Étudiants & Chercheurs</h4>
                <p>Analysez les politiques numériques, réalisez des études de cas ou alimentez vos travaux académiques.</p>
              </div>
              <div>
                <img src="assets/etudiant_chercheur.png" alt="">
              </div>
            </div>
            <div class="col profile">
              <div>
                <h4>Administrations & Décideurs</h4>
                <p>Pilotez vos projets grâce à des tableaux de bord clairs et prenez des décisions basées sur des données fiables.</p>
              </div>
              <div>
                <img src="assets/admin_decideur.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="fonctionnalites" id="fonctionnalites">
        <div class="row">
          <div class="col d-flex">
            <div class="card flex-fill">
              <h5 class="card-header py-4">
                Jeux de données open source
                <img src="assets/dataset.png" alt="icone représentant un dataset, car notre platfome permet aux utilisateurs de consulter les jeux de données disponibles">
              </h5>
              <div class="card-body">
                <p class="card-text">Données publiques organisées  pour vos projets ou analyses.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card flex-fill">
              <h5 class="card-header py-4">
                Tableaux de bord interactifs
                <img src="assets/dashboard.png" alt="icone représentant un dataset, car notre platfome permet aux utilisateurs de consulter les tableaux de bord réalisés à partir des jeux de données">
              </h5>
              <div class="card-body">
                <p class="card-text">Visualisations claires  des données ouvertes de l'e-gouvernement marocain sous forme de graphiques et tableaux personnalisés.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card flex-fill">
              <h5 class="card-header py-4">
                Espace personnel
                <img src="assets/article.png" alt="icone représentant un dataset, car notre platfome permet aux utilisateurs de consulter les articles et les fiches explicatives publiées après vérification">
              </h5>
              <div class="card-body">
                <p class="card-text">Gérez vos publications suivez vos contributions à la plateforme.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col d-flex">
            <div class="card flex-fill">
              <h5 class="card-header py-4">
                Projets & analyses partagés
                <img src="assets/data-analytics.png" alt="icone représentant un dataset, car notre platfome permet aux utilisateurs de consulter les études et les  analyses  publiées après vérification">
              </h5>
              <div class="card-body">
                <p class="card-text">Découvrez des analyses, études de marché et projets innovants dans le domaine de l'e-gouvernement au Maroc.</p>
              </div>
            </div>
          </div>
        
          <div class="col d-flex">
            <div class="card flex-fill">
              <h5 class="card-header py-4"> 
                Espace communautaire 
              <img src="assets/reunion.png" alt="icone représentant un dataset, car notre platfome fournit un espace communautaire pour échanger">
              </h5>
              <div class="card-body">
                <p class="card-text">Posez vos questions sur les démarches administratives, partagez vos expériences et obtenez des réponses de la communauté.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="community fade-in" id="community">
        <div class="image">
          <img src="assets/communaute.png" alt="">
        </div>
        <div class="text">
          <p> Le futur du service public passe par l’innovation, la transparence et la collaboration.</p>
          <p>Que vous soyez citoyen engagé, entrepreneur du digital, chercheur passionné, ou acteur public, votre contribution compte.</p>
          <p>Rejoignez GovThink pour partager vos idées, valoriser les données ouvertes et construire des solutions concrètes au service des Marocains.</p>
        </div>
      </section>



   </div>


   <div class="footer">

    <div class="row">
        <div class="col logo">
         <h2 class="logo-style"><span class="gov">Gov</span><span class="think">Think</span></h2>
        </div>

        <div class="col">
          <p><a href="#">Accueil</a></p>
          <p><a href="#">Tableaux de bord</a></p>
          <p><a href="#">Jeux de données</a></p>
          <p><a href="#">Articles</a></p>
          <p><a href="#">Services e-gov</a></p>
          <p><a href="#">Contact</a></p>
        </div>

        <div class="col">
          <p><a href="#">Citoyens</a></p>
          <p><a href="#">Entrepreneurs</a></p>
          <p><a href="#">Chercheurs</a></p>
          <p><a href="#">Développeurs</a></p>
        </div>

        <div class="col">
          <p><a href="#">Blog</a></p>
          <p><a href="#">Contribuer</a></p>
          <p><a href="#">Politique de confidentialité</a></p>
          <p><a href="#">Accessibilité</a></p>
        </div>
    </div>
    
    <hr>

    <div class="social-media-links row">
      <p>© 2025 GovThink — Tous droits réservés</p>
    </div>


   </div>


</div>