




<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
        <div class="section-title">
            <h1>À propos de GovThink</h1>
            <p>Explorer, analyser, participer - Le guide GovThink</p>
        </div>
        <div class="section">
            <h1>Notre Mission</h1>
            <p>GovThink a pour mission de rendre les données gouvernementales accessibles et compréhensibles pour tous. Nous croyons que l'information publique doit être un outil d'autonomisation pour les citoyens, les entrepreneurs et les chercheurs.
            <p>Notre plateforme transforme des données complexes en visualisations interactives et en tableaux de bord personnalisés, permettant à chacun de prendre des décisions éclairées basées sur des faits.</p>
        </div>
        <div class="section">
            <h1>Notre Vision</h1>
            <p> Nous envisageons un avenir où chaque citoyen a accès à l'information gouvernementale de manière transparente et intuitive. GovThink aspire à devenir le pont entre les données publiques et la compréhension citoyenne.</p>
            <p>En démocratisant l'accès aux données, nous contribuons à renforcer la démocratie participative et à encourager une prise de décision basée sur des preuves dans tous les secteurs de la société.</p>
        </div>
        <div class="section" routerLink="/profiles">
            <h1>Qui peut utiliser GovThink</h1>
            <div>
                <span class="badge text-bg-info">Citoyens</span>
                <span class="badge text-bg-info">Entrepreneurs</span>
                <span class="badge text-bg-info">Développeurs</span>
                <span class="badge text-bg-info">Étudiants & Chercheurs</span>
                <span class="badge text-bg-info">Administrations & Décideurs</span>
            </div>
        </div>
    </div>
x
</div>