<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    
    <div class="conteneur">
        <div class="div-create-poste">
           <div class="create-poste" (click)="openModalToCreateNewPost()">
                <div class="icon">
                    <i class="fa-solid fa-plus" style="color: #77a0c1;"></i>
                </div>
                <div class="new-post">
                    <h3>Créer votre post</h3>
                    <p>Partagez une photo ou un message</p>
                </div>
           </div>
        </div>

        <div class="posts">
            @for (post of posts; track $index) {
                 <div class="row mt-3">
                <div class="card">
                <h5 class="card-header">
                    <span class="photo-profile">
                        <img [src]="post.authorProfilePictureUrl" alt="photo de profile de l'utilisateur">
                    </span>
                    <div class="infos">
                        <span>{{post.authorName}}</span>
                        <span class="creation-date">{{post.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}</span>
                    </div>
                </h5>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">{{post.content}}</p>
                    <div class="mt-4 icons d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fa-regular fa-thumbs-up" (click)="addLike(post.id)"  ><span class="reaction">{{post.likesCount}}</span></i>
                            <i class="fa-regular fa-comment" (click)="openViewCommentsWindow(post.id)" ><span class="reaction">{{post.commentCount}}</span></i>
                            @if (containsPost(post.id)) {
                                <i class="fa-solid fa-bookmark ms-2" (click)="unsavePost(post.id)"></i>
                            }@else {
                                <i class="fa-regular fa-bookmark ms-2" (click)="savePost(post.id)"></i>
                            }
                            
                            
                        </div>
                        <i class="fa-solid fa-plus" (click)="openAddCommentWindow(post.id)"  ><span class="reaction">Ajouter un commentaire pour ce post</span></i>
                    </div>
                </div>
                </div>
            </div>


            }
           
          
        </div>
    </div>

</div>



<!-- Modal pour créer un nouveau post -->
<div class="modal" tabindex="-1" #newpost>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer un poste</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalToCreateNewPost()"></button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="publishNewPost()">
            <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="titre du poste (optionnel)" name="titre" [(ngModel)]="newPost.title" >
            </div>

            <div class="mb-3">
                <label for="poste" class="form-label">Contenu du poste</label>
                <textarea type="text" rows="5" class="form-control" id="poste" aria-describedby="emailHelp" placeholder="écrire quelque chose, partager une information, poser des questions ..." name="contenu" [(ngModel)]="newPost.content" required minlength="8"></textarea>
            </div>

            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalToCreateNewPost()">Annuler</button>
                <button type="submit" class="btn publish-btn " [disabled]="!myForm.valid">Publier le poste</button>
            </div>
        </form>
      </div>
     
    </div>
  </div>
</div>







<div class="select-post-comments" *ngIf="addingComment" >
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="rounded-circle d-flex justify-content-center align-items-center  cancel-icon"
                    (click)="closeAddCommentWindow()"
                >
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <!-- Titre du poste s'il existe -->
                 <h1 class="card-title display-6 fw-bold  mb-3" *ngIf="selectedPost.title">
                    {{selectedPost.title}}
                 </h1>

                 <!-- Informations sur l'autheur et la date de création du poste -->
                  <div class="d-flex align-items-center mb-4">
                    <div class="user-icon-post d-flex justify-content-center align-items-center rounded-circle me-3">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h6 class="fw-semibold">{{selectedPost.authorName}}</h6>
                        <small class="text-muted">
                            <i class="fas fa-calendar-alt me-2"></i>
                            {{selectedPost.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}
                        </small>
                    </div>
                  </div>



                  <!-- Contenu du post -->
                   <div class="post-content">
                        <p class="card-text fs-5">
                            {{selectedPost.content}}
                        </p>
                   </div>


                   <!-- Actions  du post  -->
                    <div class="border-top mt-3 pt-3">
                        <div>
                           <span class="nb-likes-post me-2">
                                <i class="fas fa-thumbs-up me-1"></i> {{selectedPost.likesCount}}
                            </span>
                        </div>
                    </div>


                    <!-- formulaire pour ajouter un commentaire  -->
                     <div class="mt-3">
                        <h6 class="mb-3">Ajouter un commentaire</h6>
                        <div class="row">
                            <div class="col-12">

                                <form #formNewComment (ngSubmit)="publishComment(selectedPost.id)">
                                    <div class="form-floating mb-3">
                                        <textarea
                                        class="form-control"
                                        placeholder="écrivez votre commentaire ici ..."
                                        style="height: 100px;"
                                        id="newContentComment"
                                        [(ngModel)]="newComment.content"
                                        required
                                        name="content"
                                        ></textarea>
                                        <label for="newContentComment">Votre Commentaire</label>
                                    </div>
                                   

                                    <div class="d-flex justify-content-between">
                                        <small [class.text-danger]="newComment.content.length>500"> {{newComment.content.length}}/500 caractères</small>
                                        <button 
                                            class="btn btn-outline-primary"
                                            [disabled]="!newComment.content?.trim() || newComment.content.length>500 || newComment.content.length<8"
                                            type="submit"
                                            aria-label="publier le commentaire"
                                        >
                                    <i class="fas fa-paper-plane me-1"></i>
                                    Publier
                                    </button>
                                        
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                     </div>
                    

            </div>
        </div>
        <div class="cancel-btn ms-5" (click)="closeAddCommentWindow()" >
            <span class="badge text-bg-secondary">retourner aux posts</span>
        </div>
    </div>
</div>























<div class="select-post-comments" *ngIf="viewComments">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="rounded-circle d-flex justify-content-center align-items-center  cancel-icon"
                (click)="closeViewCommentsWindow()"
                >
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                <!-- Titre du poste s'il existe -->
                 <h1 class="card-title display-6 fw-bold  mb-3" *ngIf="selectedPost.title">
                    {{selectedPost.title}}
                 </h1>

                 <!-- Informations sur l'autheur et la date de création du poste -->
                  <div class="d-flex align-items-center mb-4">


                    <div class="user-icon-post d-flex justify-content-center align-items-center rounded-circle me-3">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h6 class="fw-semibold">{{selectedPost.authorName}}</h6>
                        <small class="text-muted">
                            <i class="fas fa-calendar-alt me-2"></i>
                            {{selectedPost.createdAt | date : 'MMMM dd, yyyy - HH:mm:ss'}}
                        </small>
                    </div>
                  </div>



                  <!-- Contenu du post -->
                   <div class="post-content">
                        <p class="card-text fs-5">
                            {{selectedPost.content}}
                        </p>
                   </div>


                   <!-- Actions  du post  -->
                    <div class="border-top mt-3 pt-3">
                        <div>
                            <span class="nb-likes-post me-2">
                                <i class="fas fa-thumbs-up me-1"></i> {{selectedPost.likesCount}}
                            </span>
                        </div>
                    </div>


                    <!-- section des commentaires  -->
                     <div class="card comments-section mt-4 mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <i class="fas fa-comments me-2"></i>
                                Commentaires <span>{{selectedPost.commentCount}}</span>
                            </h5>
                        </div>

                        <!-- Liste des commentaires -->
                        <div>

                            @for (comment of selectedPost.commentsDto; track $index) {
                            <div class="m-3 p-3 border rounded-3 ">
                        
                                    <div >
                                        <div class="d-flex">
                                                <!-- Avatar du commentateur -->
                                            <div class="user-icon-comment rounded-circle d-flex align-items-center justify-content-center me-3 ">
                                                <i class="fas fa-user"></i>
                                            </div>

                                            <!-- autheur et creation date  -->
                                            <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <h6 class="mb-0 fw-semibold">{{comment.authorName}}</h6>
                                                        <small class="text-muted">
                                                            created at {{comment.createdAt | date : 'MMMM dd, yyyy  HH:mm:ss'}}
                                                        </small>
                                                    </div>
                                                </div>
                                        </div>
                                        <p class="p-3">{{comment.content}}</p>

                                    </div>

                                     <!-- Actions du commentaire -->
                                      <!-- <div class="mt-2">
                                        <button class="btn btn-link btn-sm text-muted p-0 me-2">
                                            <i class="fas fa-thumbs-up me-1"></i>
                                            Utile
                                        </button>

                                        <button class="btn btn-link btn-sm text-muted p-0">
                                            <i class="fa fa-reply me-1"></i>
                                            Répondre
                                        </button>
                                      </div> -->
                            </div>
                        }




                            <div class="text-center py-4" *ngIf="selectedPost.commentCount==0">
                                <i class="fas fa-comment-slash fa-2x text-muted mb-2"></i>
                                <p class="text-muted">Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
                            </div>
                        </div>
                     </div>

            </div>
        </div>
        <div class="cancel-btn" (click)="closeViewCommentsWindow()" >
            <span class="badge text-bg-secondary">retourner aux posts</span>
        </div>
    </div>
</div>









