<div class="fluid-container d-flex justify-content-center align-items-center flex-column" >
  
    <div class="back-home" routerLink="/home">
      <i class="fa-solid fa-house home-icon"></i>
      <span class="hover-text">retour à l'accueil</span>
    </div>

    <div class="slogan">
     <div class="col logo">
         <h2 class="logo-style"><span class="gov">Gov</span><span class="think">Think</span></h2>
      </div>
      <h4 class="quote">Rejoignez la communauté de l'e-Gov Maroc </h4>
    </div>

    <div class="form-container">
        <form class="form" (ngSubmit)="onLogin()" #loginForm="ngForm">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required="" [(ngModel)]="credentials.email">
          </div>

           <div class="form-group div-mpd">
              <label for="password" >Mot de passe</label>
              <input type="{{mdpVisibility? 'text' : 'password'}}" id="password" name="password" required="" [(ngModel)]="credentials.password">
              @if (mdpVisibility) {
                <i class="fa-solid fa-eye"  (click)="mdpVisibility=!mdpVisibility"></i>
              }
              @if (!mdpVisibility) {
                  <i class="fa-solid fa-eye-slash" (click)="mdpVisibility=!mdpVisibility"></i>
              }
              
            </div>
         

          <button [disabled]="!loginForm.valid" class="form-submit-btn btn btn-outline-light" type="submit">Se connecter</button>
           <!-- <a routerLink="/**">Mot de passe oublié ?</a> -->
           <div *ngIf="error" class="error">{{error}}</div>
        </form>
      </div>

      <div class="others mt-5">
         <div class="form-group">
            <label class="mb-3">Pas encore de compte ?</label>
            <button class="form-submit-btn btn btn-outline-light" type="submit" routerLink="/register">S'inscrire</button>
        </div>
      </div>
</div>

