.form-container , .others{
  a{
    cursor: pointer;
  }
  a:hover{
    color: #fff;
  }
}
.others .form-group label{
   text-align: center;
}
.others .form-group button{
    width: 100%;
}
.others{
    width: 30%;
}

.form-group.nomComplet , .form-group.user-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}

.nom, .prenom, .password-confirm, .password {
  flex: 1; 
}

.form-container button:active {
  scale: 0.90;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


label {
  display: block;
  color: #edecec;
  font-weight: 600;
  font-size: 18px;
}

