
.form-container{
  width: 45%;
}
.form-container , .others{
  a{
    cursor: pointer;
  }
  a:hover{
    color: #739CC0;
  }
}
.others .form-group label{
   text-align: center;
}
.others .form-group button{
    width: 100%;
}
.others{
    width: 30%;
}

.form-group.nomComplet , .form-group.user-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}

.nom, .prenom, .password-confirm, .password {
  flex: 1; 
}

.form-container button:active {
  scale: 0.90;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-mpd{
  position: relative;
  .fa-eye, .fa-eye-slash{
    position: absolute;
    right: 16px;
    bottom: 14px;
    font-size: 17px;
    color: #5f8fba;
  }
}
.error{
  font-style: italic;
  color: rgba(249, 41, 41, 0.948);
}