
<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">

    <div class="row  p-5">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, eaque dolores pariatur, minima beatae quibusdam quae qui ab magnam illo unde, repudiandae dignissimos! Quo et magni amet molestias suscipit eligendi libero corrupti ipsa voluptates id. Alias iusto blanditiis laudantium eius et aut rem saepe quibusdam ipsa, aliquid atque! Commodi, sed.
    </div>
</div>
</div>