.logo-style{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

    .gov{
        color: #E8081B;
    }
    .think{
        color: #088508;
    }
}

.quote {
    position: relative;
    padding: 2rem 3rem;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.6;
    color: #739CC0;
    width: 100%;
}

.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.form-container button:active {
  scale: 0.90;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group label , .others .form-group label{
  display: block;
  color: #edecec;
  color: #739CC0 ;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #739CC0;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-weight: 700;
  letter-spacing: 1.5px;
}


.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #739CC0;
}

.form-submit-btn {
  /* width: 20% ; */
  margin: 15px 0;
  color: #739CC0;
  border: 2px solid #739CC0;
}

.form-submit-btn:hover {
  background-color: #739CC0;
  border-color: greenyellow;
  color: #fff;
}

.form-container , .others{
  width: 60%;
  /* background: linear-gradient(#92b1cbd7, #73b4ed) padding-box,
              linear-gradient(145deg, transparent 35%,#dd00ff, #23f4ff56) border-box; */
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #000;
  box-sizing: border-box;
  /* border-radius: 8px; */
  box-shadow: 0px 0px 10px #739CC0;
  border: 1px solid #739CC0;
}
.fluid-container{
  height: 100vh;
  background-color: rgba(189, 191, 191, 0.355);
}