.logo-style{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

    .gov{
        color: #E8081B;
    }
    .think{
        color: #088508;
    }
}

.quote {
    position: relative;
    padding: 2rem 3rem;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.6;
    color: #739CC0;
    width: 100%;
}

.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

