@tailwind base;
@tailwind components;
@tailwind utilities;

/* ******** logo de la plateforme  ********** */
.fluid-container{
  height: 100vh;
}

.logo-style{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

    .gov{
        color: #E8081B;
    }
    .think{
        color: #088508;
    }
}

.quote {
    position: relative;
    padding: 2rem 3rem;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.6;
    color: #739CC0;
    width: 100%;
}

.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}






/* ******** formulaires  ********** */
.form-container button:active {
  scale: 0.90;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group label , .others .form-group label{
  display: block;
  color: #edecec;
  color: #739CC0 ; /*stage*/
  font-weight: 600;
  font-size: 18px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #739CC0;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-weight: 700;
  letter-spacing: 1.5px;
}


.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #739CC0;
}

.form-submit-btn {
  /* width: 20% ; */
  margin: 15px 0;
  color: #739CC0;
  border: 2px solid #739CC0;
}

.form-submit-btn:hover {
  background-color: #739CC0;
  border-color: greenyellow;
  color: #fff;
}

.form-container , .others{
  width: 60%;
  border: 2px solid transparent;
  padding: 22px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #000;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #a4a6a8;
}


/* **** Dropdown utilisé pour choisir entre "Tables" et "Tableaux de bord"  **** */
.dropdown-dashboard button{
 font-size: 20px;
}


/* **** div pour afficher le lien source du fichier  **** */
.lien-source{
  padding: 10px;
  cursor: pointer;
}





/* *** Buttons Modal :  bouton pour publier un poste  *** */
.publish-btn{
    background-color: #739CC0 ;
    color: #fff;
}
.publish-btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #739CC0 ;
}





/* l'icone qui permet de retourner à l'acceuil */
.back-home{
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #6a788d;
  transition: all .3s ease;
  .home-icon{
    font-size: 1.7rem;
    transition: all .3s ease;
  }
  .hover-text{
    opacity: 0;
    margin-left: 0;
    overflow: hidden;
    transition: all .3s ease;
    font-size: 1rem;
     color: #719dc2;
     font-weight: 900;
  }
  &:hover{
    background-color: rgba(113, 157, 194, 0.1);

    .home-icon{
      color: #719dc2;
    }
    .hover-text{
      opacity: 1;
      width: auto;
      margin-left: 10px;
    }
  }
}

/* *** l'entête du poste  *** */
.icon:hover{
    background-color: rgb(253, 223, 178);
}
.photo-profile img{
    height: 50px ;
    width: 50px ;
    border-radius: 50%;
}
.card-header{
    display: flex;
    .photo-profile{
        margin-right: 20px;
    }
    .infos{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}
.creation-date{
    font-style: italic;
    font-size: 13px;
    padding: 5px;
    color: #0000008f;
}


/* *** footer du poste *** */
.reaction{
    font-size: 12px;
    padding:  5px !important;
    letter-spacing: 2px;
}



/* *** icones du poste ***  */
.icons i{
    font-size: 22px;
    padding: 10px 38px 10px 0;
    cursor: pointer;
    color: #769cbb;
}
.icons i:hover{
    color:rgb(243, 136, 136) !important ;
}



/* *** Buttons Modal :  bouton pour publier un poste  *** */
.publish-btn{
    background-color: #739CC0 ;
    color: #fff;
}
.publish-btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #739CC0 ;
}


/* *** Title Modal  *** */
.modal-title{
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}




/*************   styles communs entre les 2 composants : posts et my-posts  ******************/

/*  ***  sélectionner un post pour voir les commentaires  *** */
.select-post-comments{
    position: absolute;
    top:165px;
    left: 338px;
    width: 80%;
    box-shadow: 17px 10px 20px #739CC0;
    z-index: 1000;
    background-color: #fff;
   
    .comments-section{
        box-shadow: 8px 10px 18px #aaaaaab7;
    }
}
.user-icon-post{
    background-color: #739CC0;
    width: 40px;
    height: 40px;
}
.user-icon-comment{
    width: 40px;
    height: 40px;
    border: 2px solid #739CC0;
}
.nb-likes-post{
    border: 1px solid rgb(129, 212, 219);
    color: #125a98;
    padding: 2px 10px;
    border-radius: 7px;
    font-size: 13px;
}

/* *** pour annuler le poste seléctionné *** */
.cancel-icon{
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    background-color: rgb(247, 111, 111);
    cursor: pointer;
    transition: all .4s ease; 
}
.cancel-icon:hover{
    background-color: red;
    color: #fff;
}
.cancel-btn{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    .badge{
        cursor: pointer;
    }
}






/*************   styles communs entre les 2 composants : projects et my-projects  ******************/
/* *** style pour la carte qui représente le projet ***  */
.card-title{
    font-size: 1.5rem;
}
.card-body a{
    font-style: italic;
}
.card-body a:hover{
    color: rgb(251, 110, 110);
}

.card-img-top{
   height: 280px;
   object-fit: cover;
}
.card{
    cursor: pointer;
}
/* La section qui permet d'afficher les détails d'un projet */
.project-details{
    position: absolute;
    top: 12%;
    left: 45%;
    background-color: #00000059;
    padding: .8rem 1.8rem 1.8rem 1.8rem;
    box-shadow: 8px 10px 20px #0000008b;

    .fa-rectangle-xmark{
        font-size: 30px;
       cursor: pointer;
    }
    a{
        font-style: italic;
        color: #739CC0;
    }
}





/* les composants d'authentification */
.error{
  font-style: italic;
  color: rgba(249, 41, 41, 0.948);
}


/* icone de visibilté du mot de passe  */
.div-mpd{
  position: relative;
  .fa-eye, .fa-eye-slash{
    position: absolute;
    right: 16px;
    bottom: 14px;
    font-size: 17px;
    color: #5f8fba;
  }
}


.fa-trash{
  color: rgb(251, 102, 102) !important;
}