<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nobis ipsam placeat sunt, fugiat adipisci non eum enim inventore perferendis excepturi cupiditate commodi recusandae asperiores exercitationem, eaque aut reiciendis suscipit omnis atque tenetur alias nesciunt corporis. Ipsa explicabo debitis blanditiis doloremque vel, facere vitae eos sed obcaecati molestias. Sapiente, incidunt?
    </div>
</div>