<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">
        <div class="nav-type-affichage d-flex justify-content-center align-items-center">
            <button class="btn btn-outline-light " routerLink = "/dashboard/tables">Tables</button>
            <button class="btn btn-outline-light " routerLink = "/dashboard/charts" >Tableaux de bord</button>
        </div>
        <router-outlet></router-outlet>
        
    </div>
    



</div>




