<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">







<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">

    <div class="row  p-5">
        <div class="col welcome-col">
            <h1 class="mb-5">Bienvenue, {{prenom}}</h1>
            <h5> L’espace idéal pour explorer l’e-gouvernement marocain, interagir avec les données ouvertes et prendre des décisions éclairées.</h5>
        </div>
        <div class="col progression">
            <div class="seq-connex">
                <h6>Séquence de connexion</h6>
                <h1>5</h1>
                <p>jours</p>
                <p>un nouveau record !</p>
            </div>
            <div class="progression-cercle">
                <h6>Progression</h6>
                

                                
                <!-- donut-chart.component.html -->
                    <div class="chart-wrapper">
                        <canvas #donutCanvas></canvas>
                    </div>


            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <i class="material-icons">
                    account_balance
                   </i>
                    <span>e-gouvernement</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <i class="material-icons">
                    edit_note
                   </i>
                   <span> Mes Notes</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">
                    dashboard
                    </i>
                    <span> Tableaux de bord</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">
                        groups
                    </i>
                   <span>Discussions</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header test">
                    <i class="material-icons">
                    lightbulb
                    </i>
                    <span>Exemples d'analyse</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>