<div class="conteneur">

    <div class="row">
        <div class="col">
            <h1>Bienvenue, Asma.....</h1>
            <h3> L’espace idéal pour explorer l’e-gouvernement marocain, interagir avec les données ouvertes et prendre des décisions éclairées.</h3>
        </div>
        <div class="col">
            <div>
                <h6>Séquence de connexion</h6>
                <h1>5</h1>
                <h6>jours</h6>
                <h6>un nouveau record !</h6>
            </div>
            <div>
                <h6>Progression</h6>
                cercle ici
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    e-gouvernement
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Mes Notes
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Tableaux de bord
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                   Discussions
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Exemples d'analyse
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        something
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>