<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">







<div class="result-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="conteneur">

    <div class="row d-grid  p-5" style="grid-template-columns: auto auto;">
        <div class="welcome-col">
            <h1 class="mb-5">Bienvenue, {{username}} !</h1>
            <h5 > L’espace idéal pour explorer l’e-gouvernement marocain,<br> interagir avec les données ouvertes et prendre des décisions éclairées.</h5>
        </div>
        <div class="user-impact p-4">
            <div class="seq-connex">
                <h6>Votre impact</h6>
                <h1 class="p-3 mb-2">{{nbrPublishedPosts + +nbrMyProjets }}</h1>
               @if(nbrPublishedPosts!==0 || nbrMyProjets!==0 || nbrMyDatasets!==0){
                 <p>contributions</p>
                    <ul class="mb-3">
                        @if(nbrPublishedPosts!==0){
                            <li>nombre de postes publiés : <span class=" ms-1 badge text-bg-info">{{nbrPublishedPosts}}</span></li>
                        }
                        @if(nbrMyProjets!==0){
                            <li class="mt-1">nombre de projets déposés : <span class=" ms-1 badge text-bg-info">{{nbrMyProjets}}</span></li>
                        }
                         @if(nbrMyDatasets!==0){
                            <li class="mt-1">nombre de projets déposés : <span class=" ms-1 badge text-bg-info">{{nbrMyDatasets}}</span></li>
                        }
                        
                    </ul>
                <span class="fw-semibold">Merci pour votre contribution à l'e-gov marocain !</span>
               }
               @else {
                <span class="fw-semibold">Contribuez à l'e-gov marocain !</span>
               }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <i class="material-icons">
                    edit_note
                   </i>
                   <span> Mon travail</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Gérez vos contributions à la plateforme : Vos projets d'analyse, 
 vos publications et discussions ...
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">
                    dashboard
                    </i>
                    <span> Tableaux de bord</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        visualisations des données ouvertes de l'e-gov marocain   
selon votre secteur d'activité.
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">
                        groups
                    </i>
                   <span>Discussions</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Échangez avec la communauté sur l'e-gouvernement et les données ouvertes
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header test">
                    <i class="material-icons">
                    lightbulb
                    </i>
                    <span>Exemples d'analyse</span>
                </div>
                <div class="card-body">
                    <figure>
                    <blockquote class="blockquote">
                        <p>0</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Découvrez des analyses types pour vous inspirer dans vos projets
                    </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>