<div class="fluid-container d-flex justify-content-center align-items-center flex-column" >
  <div class="back-home" routerLink="/home">
    <i class="fa-solid fa-house home-icon"></i>
    <span class="hover-text">retour à l'accueil</span>
  </div>
  

  <div class="slogan">
     <div class="col logo">
         <h2 class="logo-style"><span class="gov">Gov</span><span class="think">Think</span></h2>
      </div>
      <h4 class="quote">Rejoignez la communauté de l'e-Gov Maroc </h4>
  </div>

    <div class="form-container" *ngIf="!showPopupBiographie && !showPopupPhotoProfil">
        <form class="form" (ngSubmit)="onSignup()" #signupForm="ngForm">
          <div class="form-group nomComplet">
            <div class="nom">
              <label for="nom">Nom</label>
              <input type="text" id="nom" name="nom" required="" [(ngModel)]="userData.nom" autocomplete="off">
            </div>
            <div class=" prenom">
              <label for="prénom">Prénom</label>
              <input type="text" id="prenom" name="prenom" required="" [(ngModel)]="userData.prenom" autocomplete="off">
            </div>
          </div>  

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required="" [(ngModel)]="userData.email" autocomplete="off">
          </div>

           <div class="form-group user-password">
            <div class="password div-mpd">
              <label for="password" >Mot de passe</label>
              <input type="{{!mdpVisible? 'password' : 'text'}}" id="password" name="password" required="" [(ngModel)]="userData.password" autocomplete="off">
              @if(mdpVisible){
                <i class="fa-solid fa-eye" (click)="mdpVisible=!mdpVisible"></i>
              }@else {
                <i class="fa-solid fa-eye-slash" (click)="mdpVisible=!mdpVisible"></i>
              }
            </div>
            <div class="password-confirm div-mpd">
              <label for="password-confirm">Confirmation du mot de passe</label>
              <input type="{{!confirmMdpVisible? 'password':'text'}}" id="password-confirm" name="passwordconfirm" required=""  [(ngModel)]="userData.passwordconfirm" autocomplete="off">
              @if(confirmMdpVisible){
                <i class="fa-solid fa-eye" (click)="confirmMdpVisible=!confirmMdpVisible"></i>
              }@else {
                <i class="fa-solid fa-eye-slash" (click)="confirmMdpVisible=!confirmMdpVisible"></i>
              }
            </div>
          </div>
         

          <button [disabled]="!signupForm.valid" class="form-submit-btn btn btn-outline-light" type="submit">S'inscrire</button>
          <div *ngIf="error"> {{error}}</div>
        </form>
         <div>
              <button (click)="isContentVisible=!isContentVisible" class="btn-add-more my-1">{{isContentVisible? 'voir moins' : 'voir plus'}}</button>
            <div class="voir-plus" *ngIf="isContentVisible">
              <button (click)="showPopupPhotoProfil=true">Ajouter une photo de profil</button>
              <button (click)="showPopupBiographie=true">Ajouter une biographie</button>
            </div>
          </div>
      </div>
 
      <div class="others mt-5" *ngIf="!showPopupBiographie && !showPopupPhotoProfil">
            <label class="mb-3">Vous avez déjà un compte ?</label>
        <button class="form-submit-btn btn btn-outline-light" type="submit" routerLink="/login">Se Connecter</button>
      </div>  
     
</div>




<div class="add-photo" *ngIf="showPopupPhotoProfil">
  <i class="fa-solid fa-xmark" style="color: #ffffff;" (click)="showPopupPhotoProfil=false"></i>
  <input type="file" class="form-control" (change)="onFileSelected($event)">
  <button (click)="validateImage()">OK</button>
</div>
<div class="add-bio" *ngIf="showPopupBiographie">
  <i class="fa-solid fa-xmark" style="color: #ffffff;" (click)="showPopupBiographie=false"></i>
  <div class="form-floating">
    <textarea class="form-control" placeholder="biographie" id="floatingTextarea" style="height: 150px;" [(ngModel)]="userData.bio" name="bio"></textarea>
    <label for="floatingTextarea">écrire quelque chose à propos de vous ...</label>
  </div>
  <button (click)="validateBio()">OK</button>
</div>


