aside {
    background-color: #739CC0;
    width: 320px;
    height: 100vh;
    .sidebar{
        padding: 1rem;

        .top-side-bar{
            position: fixed;
            top: 0;
            left: 10px;
            width: 300px;
            z-index: 1000;
            background-color: #739CC0;
            border-radius: 5px;
        }

        .create-btn {
            color: #fff;
            border: 2px solid #fff;
            font-size: 20px;
            padding: 5px 0;
            border-radius: 25px;
            background-color: transparent;
            box-shadow: 1px 1px 5px #bebfcd;
            font-weight: 600;
            width: 100%;
            transition: background-color .6s ease;
            &:hover{
                background-color: #376791;
            }


        i{
            margin-right: 10px;
            margin-left: 0;
        }
        }
        nav{
            position: sticky;
            margin-top: 170px;
            a{
                display: flex;
                text-decoration: none;
                margin: 0.5rem auto;
                padding: 0.8rem;
                transition: color 0.2s;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                border-radius: 25px;
                &:hover{
                    background-color: #376791 ;
                    color: #fff;
                    font-weight: 400;
                }
                /* &.active{
                    background-color: #50db34;
                } */
            }
        }
        .hero{
            position: relative;
            img{
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                transition: all .8s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .logo{
                padding: 15px 8px 2rem 5px;
                float: right;

            }
        }
        .div-btn-create{
            margin: 1rem 0 2rem 0;
        }

    }

}

/*  *** pour le sidebar réduit  : MENU BURGER *** */
.aside-reduit{
    width: 85px; /* largeur du sidebar réduit */
}
.top-side-bar-reduit{
    width: 50px !important;
}
.create-btn-reduit {
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: 1px 1px 5px #bebfcd;
    font-weight: 600;
    width: 100%;
    transition: background-color .6s ease;

    &:hover{
         background-color: #376791;
    }
    i{
            margin-right: 0px;
            margin-left: 0;
    }
}

.div-create-btn-reduit{
    margin-top: 5rem;
}

    .hero-reduit{
            position: relative;
            img{
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                right: 3px !important;
                cursor: pointer;
                transition: all .8s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .logo{
                padding-top: 200px !important;
            }
    }

