<aside class="aside-non-reduit" *ngIf="!reduit">
   <div class="sidebar">
    <div class="top-side-bar">
        <div class="hero">
            <img src="assets/burger-bar.png" alt="burger menu depuis flaticon" (click)="toggleSidebar()">

            <div class="logo">
                <h2 class="logo-style"><span class="gov">Gov</span><span class="think">Think</span></h2>
            </div>
        </div>
    

        <div class="div-btn-create">
            <button type="button" class="create-btn">
                <i class="fa-solid fa-plus " style="color: #fff;"></i>
                Créer
            </button>
        </div>
    </div>

    <div>
        <nav>
            <a *ngFor="let item of menuItems"
                routerLink="{{item.lien}}"
                [title]="item.titre"
            >
            <span>{{item.titre}}</span>    
            <i class="material-icons">{{item.icon}}</i>
            </a>
        </nav>
    </div>
   </div>
</aside>






<!-- Menu réduit -->
<aside *ngIf="reduit" class="aside-reduit">
   <div class="sidebar ">
    <div class="top-side-bar top-side-bar-reduit">
        <div class="hero hero-reduit">
            <img src="assets/burger-bar.png" alt="burger menu depuis flaticon" (click)="toggleSidebar()">
        </div>
    

        <div class="div-create-btn-reduit">
            <button type="button" class="create-btn-reduit">
                <i class="fa-solid fa-plus " style="color: #fff;"></i>
            </button>
        </div>
    </div>

    <div class="div-nav-reduit">
        <nav>
            <a *ngFor="let item of menuItems"
                routerLink="{{item.lien}}"
                [title]="item.titre"
            >
            <i class="material-icons">{{item.icon}}</i>
            </a>
        </nav>
    </div>
   </div>
</aside>